.header {
  border-bottom: 1px solid var(--d-stroke);
  &__profile {
    flex: 1;
  }
  &__profile-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  &__rect-btn {
    padding: 8px;
    color: var(--light);
  }
  &__rect-icon {
    flex-shrink: 0;
    width: 16px;
  }
  &__notitifcations {
    position: relative;
  }
  &__notifications-circle {
    position: absolute;
    border-radius: 50%;
    background-color: var(--red);
    width: 6px;
    height: 6px;
    top: 12px;
    right: 10px;
    z-index: 1;
  }
}
