.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  background-color: var(--bg);
  color: white;
}

.main {
  padding-top: 73px;
  &._bottom {
    padding-bottom: 110px;
  }
  &._bottom-min {
    padding-bottom: 110px;
  }
}
