<section class="friends pt-3 mb-4">
  <div class="container">
    <div class="friends__head pt-3 px-3 pb-4">
      <div class="d-flex align-items-center justify-content-between">
        <span class="friends__bets-title">Начислено бонусов</span>
        <span class="friends__bets-time">До сброса: 6:23:06</span>
      </div>
      <div class="d-flex align-items-center justify-content-center gap-1 my-3">
        <img src="@img/star.svg" alt="icon" class="friends__head-icon" />
        <span class="friends__head-value">4 000</span>
      </div>
      <button class="btn-main friends__head-btn _primary">
        Собрать бонусы
      </button>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
      <h1 class="title-l">Друзья</h1>
      <button data-bs-toggle="modal" data-bs-target="#modal-friend" class="btn-main _simple friends__friend-add">
        <svg class="btn-main__icon">
          <use xlink:href="img/icons/icons.svg#icon-plus"></use>
        </svg>
        <span>Пригласить друга</span>
      </button>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-1 me-4">
      <span class="friends__invite-content">Инвайтов доступно:</span>
      <span class="friends__invite-content">12</span>
    </div>
    <div class="d-flex flex-column gap-2 mt-3">
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>2120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>1320</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
      <a href="#" class="user-card d-flex align-items-center gap-2">
        <img src="@img/profile.svg" alt="icon" class="user-card__icon" />
        <span class="user-card__title flex-fill">@UserName</span>
        <div class="user-card__rating">
          <img src="@img/star.svg" alt="icon" class="user-card__icon" />
          <span>120</span>
        </div>
      </a>
    </div>
  </div>
</section>
