<section class="games">
  <div class="container">
    <div class="d-flex align-items-center gap-4 py-2 mb-2">
      <h1 class="title-l flex-fill">Розыгрыши</h1>
      <a href="#" class="btn-rect">
        <svg class="btn-rect__icon">
          <use xlink:href="img/icons/icons.svg#icon-chart"></use>
        </svg>
      </a>
    </div>
    <div class="d-flex flex-column gap-2 games__cards">
      <div class="game-card p-2">
        <div class="d-flex align-items-center justify-content-between gap-2">
          <div class="game-card__number">№123456</div>
          <span class="game-card__price">1 000 000 $</span>
          <div class="game-card__time d-flex align-items-center gap-1">
            <svg class="game-card__time-icon">
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
            <span>12h:49m</span>
          </div>
        </div>
        <div
          class="game-card__body d-flex align-items-center justify-content-between gap-2 my-2"
        >
          <div class="game-card__body-item">
            <span class="game-card__body-title">Чет</span>
            <span class="game-card__body-content">36%</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Всего ставок</span>
            <span class="game-card__body-content">12 456</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Нечет</span>
            <span class="game-card__body-content">67%</span>
          </div>
        </div>
        <button
          data-bs-toggle="modal"
          data-bs-target="#modal-bet"
          class="btn-main _primary"
        >
          <svg class="btn-main__icon">
            <use xlink:href="img/icons/icons.svg#icon-coins"></use>
          </svg>
          <span>Сделать ставку</span>
        </button>
      </div>
      <div data-bs-toggle="modal" data-bs-target="#modal-bet-edit" class="game-card p-2">
        <div class="d-flex align-items-center justify-content-between gap-2">
          <div class="game-card__number">№123456</div>
          <span class="game-card__price">1 000 000 $</span>
          <div class="game-card__time d-flex align-items-center gap-1 _green">
            <svg class="game-card__time-icon">
              <use xlink:href="img/icons/icons.svg#icon-timer"></use>
            </svg>
            <span>12h:49m</span>
          </div>
        </div>
        <div
          class="game-card__body d-flex align-items-center justify-content-between gap-2 my-2"
        >
          <div class="game-card__body-item _selected">
            <span class="game-card__body-title">Чет</span>
            <span class="game-card__body-content">36%</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Всего ставок</span>
            <span class="game-card__body-content">12 456</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Нечет</span>
            <span class="game-card__body-content">67%</span>
          </div>
        </div>
        <div
          class="game-card__status d-flex align-items-center gap-2 justify-content-center"
        >
          <svg class="game-card__status-icon">
            <use xlink:href="img/icons/icons.svg#icon-coins"></use>
          </svg>
          <span>Ставка сделана</span>
        </div>
      </div>
      <div data-bs-toggle="modal" data-bs-target="#modal-bet-read" class="game-card p-2">
        <div class="d-flex align-items-center justify-content-between gap-2">
          <div class="game-card__number">№123456</div>
          <span class="game-card__price _gray">1 000 000 $</span>
          <div class="game-card__time d-flex align-items-center gap-1">
            <svg class="game-card__time-icon">
              <use xlink:href="img/icons/icons.svg#icon-hourglass"></use>
            </svg>
            <span>Ожидание</span>
          </div>
        </div>
        <div
          class="game-card__body d-flex align-items-center justify-content-between gap-2 my-2"
        >
          <div class="game-card__body-item">
            <span class="game-card__body-title">Чет</span>
            <span class="game-card__body-content">36%</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Всего ставок</span>
            <span class="game-card__body-content">12 456</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Нечет</span>
            <span class="game-card__body-content">67%</span>
          </div>
        </div>
        <div
          class="game-card__status d-flex align-items-center gap-2 justify-content-center _gray" 
        >
          <svg class="game-card__status-icon">
            <use xlink:href="img/icons/icons.svg#icon-coins"></use>
          </svg>
          <span>Приём ставок окончен</span>
        </div>
      </div>
      <div data-bs-toggle="modal" data-bs-target="#modal-bet-edit" class="game-card p-2">
        <div class="d-flex align-items-center justify-content-between gap-2">
          <div class="game-card__number">№123456</div>
          <span class="game-card__price">1 000 000 $</span>
          <div
            class="game-card__time d-flex align-items-center gap-1 _primary-green"
          >
            <svg class="game-card__time-icon">
              <use xlink:href="img/icons/icons.svg#icon-hourglass"></use>
            </svg>
            <span>Ожидание</span>
          </div>
        </div>
        <div
          class="game-card__body d-flex align-items-center justify-content-between gap-2 my-2"
        >
          <div class="game-card__body-item">
            <span class="game-card__body-title">Чет</span>
            <span class="game-card__body-content">36%</span>
          </div>
          <div class="game-card__body-item">
            <span class="game-card__body-title">Всего ставок</span>
            <span class="game-card__body-content">12 456</span>
          </div>
          <div class="game-card__body-item _selected">
            <span class="game-card__body-title">Нечет</span>
            <span class="game-card__body-content">67%</span>
          </div>
        </div>
        <div
          class="game-card__status d-flex align-items-center gap-2 justify-content-center"
        >
          <svg class="game-card__status-icon">
            <use xlink:href="img/icons/icons.svg#icon-coins"></use>
          </svg>
          <span>Ставка сделана</span>
        </div>
      </div>
    </div>
  </div>
</section>
