<header class="header-prev py-3">
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between gap-2">
      <a href="/" class="d-flex align-items-center gap-3 header-prev__btn">
        <svg class="header-prev__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
        <span>@@title</span>
      </a>
      <button class="btn-claer header-prev__more">
        <svg class="header-prev__more-icon">
          <use xlink:href='img/icons/icons.svg#icon-points'></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
