<section class="my-bets">
  <div class="container tab-container">
    <div class="d-flex align-items-center gap-4 py-2 mb-2">
      <h1 class="title-l flex-fill">Мои ставки</h1>
      <button data-bs-toggle="modal" data-bs-target="#modal-statistic" class="btn-rect">
        <svg class="btn-rect__icon">
          <use xlink:href="img/icons/icons.svg#icon-chart"></use>
        </svg>
      </button>
    </div>
    <div class="filters d-flex _big mb-3">
      <button data-tab="all" class="btn-tab filters__btn _active">Все</button>
      <button data-tab="win" class="btn-tab filters__btn">Выигрыш</button>
      <button data-tab="loss" class="btn-tab filters__btn">Проигрыш</button>
    </div>
    <div data-tab="all" class="tab my-bets__tab flex-column gap-2 _active">
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _loss"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _win"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _cancel"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _cancel"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
    </div>
    <div data-tab="win" class="tab my-bets__tab flex-column gap-2">
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _win"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _win"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _win"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _win"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
    </div>
    <div data-tab="loss" class="tab my-bets__tab flex-column gap-2">
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _loss"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _loss"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _loss"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
      <div
        data-bs-toggle="modal"
        data-bs-target="#modal-info-bet"
        class="bet d-flex align-items-center gap-1 p-2 _loss"
      >
        <div class="bet__number d-flex align-items-center">
          <svg class="bet__number-icon">
            <use xlink:href="img/icons/icons.svg#icon-calendar"></use>
          </svg>
          <span>12.09.2024</span>
        </div>
        <span class="bet__number"> №123456 </span>
        <div class="bet__status ms-auto">
          <span class="bet__status-number">Чет</span>
          <span class="bet__status-price">10 $</span>
        </div>
      </div>
    </div>
  </div>
</section>
