.cancel-bet {
  &__avatar {
    width: 120px;
  }
  &__profile-id {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: var(--light);
  }
  &__info-item {
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid var(--d-stroke-2);
    min-height: 88px;

    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-transform: uppercase;

    &._green {
      color: var(--green);
    }
  }
  &__form-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  &__form-input {
    min-height: 80px !important;
  }
}
