.btn-rect {
  @include flex-center;
  gap: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 3px;
  color: inherit;

  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--d-stroke);
  background-color: var(--mirage);
  color: var(--blue);
  
  &__icon {
    width: 30px;
    height: 30px;
  }
}
