.btn-rect {
  @include flex-center;
  gap: 4px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 3px;
  color: inherit;

  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--d-stroke);
  background-color: var(--mirage);
  color: var(--d-icons);

  &__icon {
    width: 30px;
    height: 30px;
  }
}

.btn-main {
  @include flex-center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  min-height: 40px;
  width: 100%;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  &._primary {
    color: var(--bg);
    background: var(--orange-linear);
  }

  &:disabled {
    pointer-events: none;
    background: var(--d-white-02);
  }

  &__icon {
    width: 18px;
    height: 18px;
  }
}

.btn-claer {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0;
}