.filters {
  border-radius: 100px;
  border: 1px solid var(--d-stroke-2);
  overflow: hidden;

  &._big {
    .filters__btn {
      font-size: 16px;
    }
    .filters__label-check {
      font-size: 16px
    }
  }
  &._p-min {
    .filters__btn {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__btn {
    @include flex-center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var(--light);
    padding: 10px 12px;
    border: none;
    flex: 1;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    &._active {
      background-color: var(--purple);
      color: white;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--d-stroke-2);
    }
  }
  &__check {
    display: none;
    &:checked + label {
      background-color: var(--purple);
      color: white;
    }
  }
  &__check-label {
    @include flex-center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: var(--light);
    padding: 10px 8px;
    border: none;
    flex: 1;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    &:not(:last-child) {
      border-right: 1px solid var(--d-stroke-2);
    }
  }
}
