.settings {
  margin-top: 40px;
  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--light);
  }
  &__item {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid var(--d-stroke);
  }
  &__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
  &__item-content {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: var(--light);
    margin: 0;
  }
  &__item-icon {
    width: 24px;
    height: 24px;
  }
}
